.main_section {
    display: flex;
    flex-direction: column;
    height: 100%;


}

* {
    font-family: "Calisto MT";
}

body,
html {
    height: 100%;
    background: no-repeat linear-gradient(45deg, #13547a, #80d0c7);
    background-size: cover;
}

.wrapper {
    margin: 10px;
    flex: 1 0 auto;

    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;


}

.footer {
    flex: 0 0 auto;
}

button {
    padding: 5px;
    min-width: 150px;
    background: linear-gradient(45deg, #f5f7fa, #c3cfe2);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;

}

p {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;

}

.fadeout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.top {

}